| Hey Harry! Somebody had signed up for #{projectName}
= '\n'
= '\n'
| Their information is as follows:
= '\n'
= '\n'
| Username: #{username}
| Email: #{email}
= '\n'
= '\n'
| Reason for joining: #{reason}
= '\n'
= '\n'
| Thanks,
| #{projectName}
