h3 Hey Harry! Somebody had signed up for #{projectName}
p Their information is as follows:
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td Username:
    td #{username}
  tr
    td Email:
    td #{email}
  tr
    td Reason for joining:
    td #{reason}
p
  | Thanks,
  br
  | #{projectName}
